<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles-about.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <header class="hero-section"></header>
    <div class="container-lg">
        <div class="row">
          <div class="col-lg-6">
            <p class="display-1 cursive-font" style="font-size: 31px; font-weight: bold; margin-bottom: 30px;">Hi, I'm Hieu Tran! I'm currently a sophomore at University of South Florida, pursuing a degree in Computer Engineering</p>
            <p class="move-up" style="font-size: 19.5px;">In my journey as a budding programmer, I've crafted projects that truly reflects me. They're not just products of my learning, but also mirrors of my growth, both in my career and personal life. If you're interested any of them, don't hesitate to join the repos and have mutual learning through collaboration!</p>
            </p> 
            <p class="move-up" style="font-size: 19.5px;">Beyond my coding endeavors, this blog serves as a keeper for my cherished memories from vacation escapades, college life, and moments shared with family and friends. With an innate spirit of an explorer, I seek to cultivate new friendships and connections as I write the story of my life!</p> 
            <div style="margin-top: 80px;">
              <ul class="custom-list">
                <li><i class="fas fa-gamepad" style="margin-right: 16px;"></i> League of Legends, GTA Series, Minecraft</li>
                <li><i class="fas fa-utensils" style="margin-right: 22px;"></i> Pho, Tacos, Pizza</li>
                <li><i class="fas fa-music"></i> Avicii, Taylor Swift, Coldplay</li>
                <li><i class="fas fa-film"></i> Stranger Things, The Avengers, Avatar</li>
              </ul>
            </div>
          </div>
          <div class="align-center" style="width: 350px;">
            <img src="/public/images/profilemee.jpg" style="border-radius: 20px; width: 125%;">
          </div>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>
</html>