<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/styles-main.css" rel="stylesheet">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <header class="hero-section"></header>
    <div class="container-lg">
        <div class="row">
          <div class="col-lg-6">
            <p class="display-1 cursive-font" style="font-size: 36px; font-weight: bold;">College student. Tech enthusiast. Internship seeker. Solo traveler.</p>
            <p class="move-up" style="font-size: 19.5px;">I'm a Computer Engineering major at the University of South Florida<br>with experience in Data Analysis and Machine Learning as a Research Assistant, applying my skills to make life easier through technology.<br><br>When I'm not working, I love exploring the robust Tampa Bay.<br>During holidays, I often make solo trips across America.<br>When I'm tired, my cozy home in Austin, TX is where I return. </p>
            <div class="icon-contact">
                <ul class="cont-item">
                    <li class="cont-item px-3">
                        <a class="brand" href="https://www.github.com/hieuapg" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
                      </li>
                      <!-- LinkedIn -->
                      <li class="cont-item px-3">
                        <a class="brand" href="https://www.linkedin.com/in/hieu-tran-448824284/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></i></a>
                      </li>
                      <li class="cont-item px-3">
                        <a class="brand" href="https://www.facebook.com/tran.thanhhieu.944/" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></i></a>
                      </li>
                      <li class="cont-item px-3">
                        <a class="brand" href="https://www.instagram.com/hiu.apg/" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></i></a>
                      </li>
                </ul>
            </div>
          </div>
          <div class="col-lg-6 align-center">
            <img src="/public/images/nyc-img.jpg" style="border-radius: 20px; margin-left: 20px;">
          </div>
        </div>
      </div>
    <div class="project-section container-lg">
      <div class="proj-box">
        <ul>
          <li><img src="/public/images/opencv.png"></li>
          <li><img src="/public/images/keras.png"></li>
          <li><img src="/public/images/tsflow.png"></li>
        </ul>
        <h2>Lymphoes Tracking Model</h2>
        <p class="proj-para">Apply OpenCV and ML models to track the contractions of lymph nodes under the guidance of Dr. Jerome Breslin at USF Department of Medical Engineering.</p>
        <p style="font-weight: bold; margin-top: 32px;">View Project</p>
      </div>
      <div class="proj-box">
        <ul>
          <li><img src="/public/images/python.svg" style="width: 70px; margin-top: -20px; margin-bottom: -5px; margin-left: -14px;"></li>
          <li><img src="/public/images/r_project_official_logo_icon_170811.png" style="margin-left:-12px;"></li>
        </ul>
        <h2>Big Data Analysis</h2>
        <p class="proj-para">Conduct data analysis and visualization, build models for predictive analysis under the guidance of Dr. Loni Hagen at USF Big Data Analytics Lab.</p>
       
      </div>
      <div class="proj-box">
        <ul>
          <li><img src="/public/images/Cnot.png" style="width:33px; padding-top:2px; margin-bottom: 7px;"></li>
          <li><img src="/public/images/Cicon.png"></li>
        </ul>
        <h2>Convertify</h2>
        <p class="proj-para">The unit converter accepts user inputs and return results, convert up to 9 metrics, ranging in mass, temperature and currencies.</p>
        <p style="font-weight: bold; margin-top: 32px;">View Project</p>
      </div>
      <div class="proj-box">
        <ul>
          <li><img src="/public/images/html.png" style="margin-top: -14px;"></li>
          <li><img src="/public/images/bootstrap-logo.svg" style="padding-top: 5px;"></li>
          <li><img src="/public/images/jsicon.png"></li>
          <li><img src="/public/images/nodejs-icon-2048x2048-rueyo8fw.png"></li>
        </ul>
        <h2>Ticking Clock</h2>
        <p class="proj-para">A digital clock that display time and date. Over 10+ options of timezones across America, Europe and Asia.<br>A spiritual gift to my sister, a globetrotter journalist.</p>
        <p style="font-weight: bold; margin-top: 32px;">View Project</p>
      </div>
      <div class="proj-box">
        <ul>
          <li><img src="/public/images/ejs.svg"></li>
          <li><img src="/public/images/jsicon.png"></li>
        </ul>
        <h2>Personal Blog</h2>
        <p class="proj-para">The online portfolio and blog website, where I introduce myself, showcase my career spotlights, share my own thoughts and ways to connect with me.</p>
        <p style="font-weight: bold; margin-top: 32px;">View Project</p>
      </div>
      <div class="proj-box">
        <ul>
          <li><img src="/public/images/react.png"></li>
          <li><img src="/public/images/Spotify_icon.svg.png"></li>
          <li><img src="/public/images/mongodb.svg"></li>
        </ul>
        <h2>Musemo</h2>
        <p class="proj-para">
          An application that forecasts user emotions based on facial patterns and recommends songs that match the mood using Spotify's song database.</p>
        <p style="font-weight: bold; margin-top: 32px;">View Project</p>
      </div>
    </div>
      <%- include("partials/footer.ejs") %>
</body>
</html>