.container-lg {
    margin-top: 90px;
    padding: 50px;
    border-radius: 10px;
    color: white;
}

body {
    background-color: black !important;
}

.card {
    height: 120px;
    gap: 10px;
}

.col-md-4 {
    margin-left: -10px;
}

.card-body i,
.card-body h1 {
    display: inline;
}