.container-lg {
    margin-top: 90px;
    padding: 50px;
    border-radius: 10px;
    color: white;
}

body {
    background-color: black !important;
}

.icon-contact .cont-item {
    padding: 0 10px; /* Adjust the gap between list items */
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    font-size: 21px;
}

.brand {
    color: white;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows with auto height */
    gap: 35px; /* Adjust the gap between grid items */
    color: white;
  }

  .proj-box {
    background-color: black;
    border-radius: 10px;
  }

  .project-section h2 {
    margin: 24px 0px;
    font-size: 20px;
  }

  .proj-box img {
    width: 39px;
  }

  .proj-para {
    font-size: 16px;
  }

  .hero-section 
{
  position: relative;
  background-image: url('/public/images/hero-img.jpg');
  background-size: cover;
  background-position: center;
  height: 690px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

