.hero-section
{
  position: relative;
  background-image: url('https://i.etsystatic.com/21591747/r/il/5f0066/2196515905/il_fullxfull.2196515905_clk5.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-lg {
    margin-top: 90px;
    padding: 50px;
    border-radius: 10px;
    color: white;
}

body {
    background-color: black !important;
}


.col-lg-6 {
    width: 950px !important;
}

/* styles.css */

/* Define custom list style */
.custom-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.fas {
    margin-right: 20px;
    margin-bottom: 10px;
}

ul.custom-list li i {
    left: 0;
}
